.menuemail{
    border-radius: 20px / 20px;
 margin: 60px;
 padding: 20px;
 width: 550px;
 height: 100px;
 border: 1px solid purple;
 background-color:  rgb(255, 241, 251);
 box-shadow: 0px 0px 10px 1px purple;
 text-align: center;
 line-height: 100px;
 font-family:"naver1";
 font-size: 20px;
 position: relative;
 left: 595px;
}
.menupassword{
    border-radius: 20px / 20px;
 margin: 60px;
 padding: 20px;
 width: 550px;
 height: 100px;
 border: 1px solid purple;
 background-color:  rgb(255, 241, 251);
 box-shadow: 0px 0px 10px 1px purple;
 text-align: center;
 line-height: 100px;
 font-family:"naver1";
 font-size: 25px;
 position: relative;
 left: 595px;
}
.menu1{
    /* border-radius: 20px / 20px;
 margin: 60px;
 padding: 20px;
 width: 550px;
 height: 100px;
 border: 1px solid purple;
 background-color:  rgb(255, 241, 251);
 box-shadow: 0px 0px 10px 1px purple;
 text-align: center;
 line-height: 100px;
 font-family:"naver1";
 font-size: 25px;
 position: relative;
 left: 595px;*/
 font-family:"naver1";

} 