.email{
    border-radius: 20px / 20px;
 margin: 60px;
 padding: 20px;
 width: 500px;
 height: 100px;
 border: 1px solid purple;
 background-color:  rgb(255, 241, 251);
 box-shadow: 0px 0px 10px 1px purple;
 text-align: center;
 line-height: 100px;
 font-family:"naver1";
 font-size: 20px;
 position: relative;
 left: 620px;
}
.password{
    border-radius: 20px / 20px;
 margin: 60px;
 padding: 20px;
 width: 500px;
 height: 100px;
 border: 1px solid purple;
 background-color:  rgb(255, 241, 251);
 box-shadow: 0px 0px 10px 1px purple;
 text-align: center;
 line-height: 100px;
 font-family:"naver1";
 font-size: 20px;
 position: relative;
 left: 620px;
}
.name{
    border-radius: 20px / 20px;
 border-top: 40px;
 margin: 60px;
 padding: 20px;
 width: 500px;
 height: 100px;
 border: 1px solid purple;
 background-color: rgb(255, 241, 251);
 box-shadow: 0px 0px 10px 1px purple;
 text-align: center;
 line-height: 100px;
 font-family:"naver1";
 font-size: 20px;
 position: relative;
 left: 620px;
}

.address{
    border-radius: 20px / 20px;
 margin: 60px;
 padding: 20px;
 width: 500px;
 height: 100px;
 border: 1px solid purple;
 background-color:  rgb(255, 241, 251);
 box-shadow: 0px 0px 10px 1px purple;
 text-align: center;
 line-height: 100px;
 font-family:"naver1";
 font-size: 20px;
 position: relative;
 left: 620px;
}

.phone_number{
    border-radius: 20px / 20px;
 margin: 60px;
 padding: 20px;
 width: 500px;
 height: 100px;
 border: 1px solid purple;
 background-color:  rgb(255, 241, 251);
 box-shadow: 0px 0px 10px 1px purple;
 text-align: center;
 line-height: 100px;
 font-family:"naver1";
 font-size: 20px;
 position: relative;
 left: 620px;
}